.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
    background-color: white;
    box-shadow: 0 3px 7px -2px gray;
}

.logo {
    margin-left: 3em;
}

.buttons {
    margin-right: 3em;
}

.button {
    border: none;
    background: transparent;
    margin-left: 2em;
}